<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">

    <listeners>
        <listener class-name="tests.android.ListenerTest" />
    </listeners>

    <test name="ProfilePageTests">
        <classes>
            <class name="tests.android.profilePageTests.ProfilePageTests"/>
        </classes>
    </test>

    <test name="SettingsPageTests">
        <classes>
            <class name="tests.android.profilePageTests.SettingsPageTests"/>
        </classes>
    </test>

    <test name="MyPayCardsTest" >
        <classes>
            <class name="tests.android.profilePageTests.MyPayCardsTest"/>
        </classes>
    </test>

    <test name="AdvertTests">
        <classes>
            <class name="tests.android.advertTests.AdvertTests"/>
        </classes>
    </test>

    <test name="FavoritesSearchTest">
        <classes>
            <class name="tests.android.favorites.FavoritesSearchTest"/>
        </classes>
    </test>

    <test name="FavoritesSellersTest">
        <classes>
            <class name="tests.android.favorites.FavoritesSellersTest"/>
        </classes>
    </test>

    <test name="FavoritesAdsTest">
        <classes>
            <class name="tests.android.favorites.FavoritesAdsTest"/>
        </classes>
    </test>

    <test name="FiltersTest">
        <classes>
            <class name="tests.android.advertisements.FiltersTest"/>
        </classes>
    </test>
</suite>